<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>CARS</title>
</head>
<body>

<td th:text="${title}">cars</td>
<table border="1">

    <tr>
        <th th:text="${carModel}">model</th>
        <th th:text="${color}">color</th>
        <th th:text="${year}">year</th>
    </tr>
    <tr th:each="car: ${carsList}">
        <td th:text="${car.name}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.year}"></td>
    </tr>
</table>
</body>
</html>