<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title></title>
</head>
<body>

<p></p>
<div align="center">
    <h1>User's Profile</h1>
    <table border="0" cellpadding="10">
        <tr>
            <td>Id:</td>
            <td th:text="${user.id}"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td th:text="${user.name}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>
    <button type="button"><a href="/logout">Logout</a></button>
</div>
</body>
</html>